body{
	background-color: #ededed;
	font-family: "Roboto", Verdana;
}
a{
	text-decoration: none;
}
button:hover{
	cursor: pointer;
}
h1, h2{
	font-family: "Roboto Condensed", Tahoma;
	margin: 20px 0px 15px 0px;
	line-height: 33px;
	color: #37363f;
}

/*NAVIGATION*/
div.div_navigation{
	font-family: "Roboto Condensed", Verdana;
	padding: 0px 70px 0px 70px;
	background-color: #303238;
	text-align:center;
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 15;
}
a#username{
	border-right: 1px solid #27292b;
}
a.logo{
	font-family: "Raleway", Verdana;
	font-weight: bold;
	font-size: 25px;
	margin-top: 0px;
	padding: 5px;
	float: left;
	color: #fff;
}
text.logo2{
	font-family: "Raleway Dots", Tahoma;
	font-weight: 500;
	color: #fff;
}
img.search_icon{
	margin: 0px 0px -11px -5px;
	background-color: #464951;
	opacity: 0.5;
	height: 32px;
	width: 32px;
}
img.search_icon:hover{
	opacity: 1;
}
.div_navigation input[type=text] {
    font-family: "Roboto", Tahoma;
    background-color: #464951;
	margin-top: 7px;
    color: #ced4e0;
    width: 350px;
    padding: 8px;
    border: none;
}
.div_navigation input[type=text]:focus{
	outline: none;
}
span.dropdown {
	overflow: hidden;
	float: right;
}
div.dropdown-content, div.notifs-content{
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  
    background-color: #f9f9f9;
    position: absolute;
    min-width: 130px;
    display: none;
    float: left;
	right: 0;
	overflow: auto;
	max-height: 300px;
}
div.dropdown-content{
	margin: 48px 70px 0px 0px;
}
div.notifs-content{
	margin: 48px 120px 0px 0px;    
}
div.dropdown-content a, div.notifs-content a{
    font-family: "Roboto", Verdana;
    padding: 12px 16px;
    text-align: right;
    color: #303238;
    display: block;
}
div.notifs-content a{
	border-top: 1px solid #ddd;
	font-size: 13px;
}
div.dropdown-content a:hover, div.notifs-content a:hover {
    background-color: #ddd;
}
span.dropdown:hover .dropdown-content {
    display: block;
    color: #fff;
}
a.droparrow, a.navtxt, a.dropnotifs{
	text-align: center;
	margin-top: 10px;
	font-size: 15px;
	color: #ced4e0;
	padding: 10px;
	float: right;
	height: 18px;
}
a.dropnotifs{
	min-width: 30px;
}
a.dropnotifs:hover{
	cursor: pointer;
}
a.droparrow{
	border-left: 1px solid #27292b;
	min-width: 30px;
}
.show{
	display: block;
}
a.navtxt{
	letter-spacing: 1px;
	transition: 0.2s;
	min-width: 60px;
	}
a.navtxt:hover, a.droparrow:hover, a.dropnotifs:hover{
	background-color: #27292b;
	color: #fff;
}

/*TABLE*/
table{
	line-height: 25px;
	width: 100%;
}
td.work_details{
	vertical-align: top;
	padding-right: 50px;
	width: 35%;	
}
td.work_view{
	vertical-align: top;
	padding: 10px 0px 0px 10px;
}

/*WORK DETAILS*/
div#div_work{
	margin: 100px 100px 100px 100px;
	padding: 25px 60px 35px 60px;
	background-color: #fff;
}
ul#list_authors{
	padding-right: 10px;
	list-style: none;
	display: inline;
	margin-left: -40px;
}
a.author{
	color: #37363f;
}
a#work_date{
	color: #95949e;
	display: inline-block;
}
a.status{
	padding: 3px 6px 3px 6px;
	border-radius: 5px;
	font-size: 11px;
	color: #fff;
}
a#s_finished{
	background-color: #44a300;
}
a#s_ongoing{
	background-color: #e09318;
}
a#s_unfin{
	background-color: #ff0000;
}	
text.txt_tag{
	color: #b2b1bc;
}
ul#list_tags, #up_tags{
	margin-left: -25px;
	list-style: none;
	display: inline;
	color: #b2b1bc;
}
ul#list_tags li, ul#list_authors li, ul#up_tags li{
	display: inline;
}
ul#list_tags li:after{
  content: ", ";
}
ul#list_authors li:after {
  content: "; ";
}
ul#list_tags li:last-child:after, ul#list_authors li:last-child:after{
    content: "";
}
a.a_tag{
	color: #b2b1bc;
}
a.author:hover, a.a_tag:hover{
	text-decoration: underline;
}

/*WORK VIEW*/
p#abstract{
	text-align: justify;
	line-height: 25px;
}
hr{
	border: 1px solid #9595a8;
	margin-top: 0px;
}
button.btn_select{
	background-color: #9595a8;
    color: #fff;
}
button.btn_deselect{
	background-color: #fff;
	color: #9595a8;
}
button.btn_select, .btn_deselect {
    padding: 5px 10px;
    margin-top: 0px;
    border: none;
}
button.download, .button_work, .btn_select, .btn_deselect{
	font-family: "Roboto Condensed", Verdana;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}
button.download, .button_work{
    padding: 10px 30px;
    transition: 0.3s;
    color: #FFF;
}
button.download:hover{
	background-color: #FFF;	
}
button.download {
    background-color: #331a6d;
    border: 2px solid #331a6d;
	margin-top: 40px;
    width: 100%;
}
button.download:hover{
	color: #331a6d;
	background-color: #FFF;	
}
button#btn_update{
	background-color: #9595a8;
    border: 2px solid #9595a8;
    margin: 10px 3px 0px 0px;
    width: 49%;
}
button#btn_update:hover{
	color: #9595a8;
	background-color: #FFF;	
}
button#btn_delete{
	background-color: #cc0808;
    border: 2px solid #cc0808;
    margin: 10px 0px 0px 3px;
    width: 49%;
}
button#btn_delete:hover{
	color: #cc0808;
	background-color: #FFF;	
}
button#btn_preview, #req_preview{
    background-color: #37363f;
	border: 2px solid #37363f;
    padding: 10px 12px;
    margin-top: 10px;
}
button#btn_preview:hover, #req_preview:hover{
	color: #37363f;
	background-color: #FFF;	
}

/*POP UPS*/
div#black{
	background-color: #000;
	position: fixed;
	opacity: 0.4;
	z-index: 9;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}
div.popup{
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  
	font-family: "Roboto Condensed", Tahoma;
	background-color: #fff;
	line-height: 23px;
	position: fixed;
	color: #37363f;
	z-index: 10;
	left: 50%;
	top: 0;	
}
hr.hr2{
	border: 0.5px solid #b2b1bc;
	margin-top: -10px;	
}

/*UPDATE*/
div#pop_update{
	margin: 80px 0px 150px -350px;
	padding: 15px 50px 30px 50px;
	width: 600px;
	z-index: 10;
	position: absolute;
}
select#up_status{
	font-family: "Roboto", Tahoma;
	padding: 3px 10px;
	font-size: 14px;
}
ul#up_tags, #up_authors{
	font-family: "Roboto", Tahoma;
	margin-left: -40px;
	color: #37363f;
	width: 100%;
}
ul#up_tags li, #up_authors li{
	background-color: #ededed;
	border: 1px solid #95949e;
	display: inline-block;
	border-radius: 5px;
	margin-bottom: 5px;
	padding: 0px 6px;
	font-size: 13px;
}
button.del_tag{
	background-color: inherit;
	padding: 0px 0px 0px 6px;
	font-weight: bold;
	color: #95949e;
	outline: none;
	border: none;
}
td.table_up1{
	vertical-align: top;
	width: 100px;
}
table.up_table td{
	padding-bottom: 20px;
}
#pop_update input[type=text]{
	font-family: "Roboto", Tahoma;
	padding: 3px 10px;
	font-size: 14px;
	margin-top: 5px;
}
button.button_up{
	font-family: "Roboto Condensed", Verdana;
	text-decoration: none;
	padding: 5px 10px;
	font-size: 14px;
	color: #fff;
}
button#btn_addtag, #btn_addauthor{
	background-color: #331a6d;
	border: none;
}
button#btn_newfile{
	background-color: #331a6d;
	border: 1px solid #331a6d;
}
button#up_save{
	background-color: #44a300;
	border: 1px solid #44a300;
	float: right;
}
button#up_cancel{
	background-color: #9595a8;
	border: 1px solid #9595a8;
	margin-right: 10px;
	float: right;
}


/*DELETE*/
div#pop_del{
	margin: 80px 0px 150px -220px;
	padding: 15px 50px 20px 50px;
	width: 360px;
}
button#del_yes, #del_cancel{
	font-family: "Roboto Condensed", Verdana;
	text-decoration: none;
	padding: 10px 20px;
	font-size: 14px;
	color: #fff;
}
button#del_yes{
	background-color: #cc0808;
	border: 1px solid #cc0808;
	margin-top: 15px;
}
button#del_cancel{
	background-color: #9595a8;
	border: 1px solid #9595a8;
	margin-right: 10px;
}

/*DOWNLOAD*/
div#pop_dl{
	margin: 80px 0px 150px -350px;
	padding: 15px 50px 20px 50px;
	width: 600px;
}
div.div_files{
	font-family: "Roboto", Tahoma;
	max-height: 300px;
	overflow-y: auto;
}
ul#dl_filelist{
	margin-left: -20px;	
	list-style: none;
	margin-top: 20px;
}
ul#dl_filelist li{
	border-bottom: 1px solid #ededed;
	margin-right: 30px;
	list-style: none;
	padding: 5px;
}
button.dl_indiv{
	font-family: "Roboto Condensed", Verdana;
	background-color: #fff;
	border-radius: 5px;
	color: #9595a8;
	border: none;
	padding: 5px;
	float: right;
}
button.dl_indiv:hover{
	color: #000;
}
button.button_del{
	font-family: "Roboto Condensed", Verdana;
	text-decoration: none;
	padding: 6px 10px;
	font-size: 14px;
	float: right;
	color: #fff;
}
button#dl_all, #dl_rq, #view_rq{
	background-color: #331a6d;
	border: 1px solid #331a6d;
	margin-top: 10px;
}
button#dl_cancel, #dl_rqcancel, #view_vcancel{
	margin: 10px 10px 0px 0px;
	background-color: #9595a8;
	border: 1px solid #9595a8;
}

/*REQUEST DOWNLOAD*/
div#pop_rqdl, #pop_rqview{
	margin: 80px 0px 150px -350px;
	padding: 15px 50px 20px 50px;
	width: 600px;
}
#pop_rqdl input[type=text],
#pop_rqview input[type=text]{
	font-family: "Roboto", Tahoma;
	padding: 3px 10px;
	font-size: 14px;
	width: 100%
}

/*RELATED WORKS*/
div.related{
	font-family: "Roboto", Tahoma;
	color: #b2b1bc;
	line-height: 30px;
}
hr.relatedhr{
	border: 0.5px solid #b2b1bc;
	margin-top: 35px;
}
h4{
	margin: 20px 0px 0px 30px;
	color: #464951;
	display: inline;
}
h4:hover{
	text-decoration: underline;
	cursor: pointer;
}
a#rel_author{
	color: #95949e;
}
a#rel_author:hover{
	text-decoration: underline;
	cursor: pointer;
}