a{
	text-decoration: none;
}
#navigation{
	background-color: #303238;
	overflow: hidden;
	color: #fff;
	left: 0;
	right: 0;
	top: 0;
	padding-right: 70px;
	padding-left: 70px;
	text-align:center;
}
#navigation a.navtxt{
	padding: 10px;
	font-size: 15px;
	color: #ced4e0;
	float: right;
	letter-spacing: 1px;
	transition: 0.2s;
	margin-top: 10px;
	width: 60px;
	text-align: center;
}
#navigation a.navtxt:hover{
	color: #fff;
	transition: 0.2s;	
	background-color: #27292b;
}
#navigation a#logo{
	margin-top: 0px;
	padding: 12px 0px 0px 0px;
	float: left;
	font-family: "Raleway";
	font-weight: bold;
	color: #fff;
	font-size: 25px;
}
#navigation #logo2{
	font-family: "Raleway Dots";
	font-weight: 500;
} 
#navigation #search_icon{
	background-color: #464951;
	height: 32px;
	width: 32px;
	margin-bottom: 12px;
	margin-left: -5px;
	margin-right: 150px;
	opacity: 0.5;
}
#navigation #search_icon:hover{
	opacity: 1;
}
#navigation input[type=text] {
	font-family: "Roboto";
    width: 350px;
    padding: 10px 0px 0px 0px;
    margin: 7px 0px 0px 0px;
    background-color: #464951;
    border: none;
    color: #ced4e0;
}
#navigation input[type=text]:focus{
	outline: none;
}